.cooperation {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 150%;
    leading-trim: both;
    text-edge: cap;
    text-transform: uppercase;
    color: #125E97;
    padding-left: 400px;
    position: absolute;
    padding-top: 100px
}
.title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.9);
}
.subTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 155%;
    leading-trim: both;
    text-edge: cap;
    width: 292px;
    color: rgba(0, 0, 0, 0.8);
}

.buttonStyle {
    width: 292px;
    height: 64px;
    position: absolute;
    background: #125E97;
    margin: auto;
    border: 0;
}

.buttonStyle:hover {
    background-color: #0092FF;
}

.textButtonStyle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}