.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 150%;
    text-transform: uppercase;
    color: #125E97;
}
.subTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    leading-trim: both;
    text-edge: cap;
    color: rgba(0, 0, 0, 0.8);
}