
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 150%;
    leading-trim: both;
    text-edge: cap;
    text-transform: uppercase;
    color: #125E97;
}
.cardText {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    leading-trim: both;
    text-edge: cap;
    color: #FFFFFF;
}
.subTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    leading-trim: both;
    text-edge: cap;
    color: #000000;
}
.textForTechnologies {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    leading-trim: both;
    text-edge: cap;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 137, 239, 0.05);;
    color: #0092FF;
    padding: 20px;
    margin: 10px;
    position: relative;
    justify-content: space-around;
    align-items: flex-start;
}
